.animate-rotation {
  -webkit-animation:spin .8s linear infinite;
  -moz-animation:spin .8s linear infinite;
  animation:spin .8s linear infinite;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform:rotate(-360deg);
  }
}

//Animation slide, plugin item
@keyframes plugna-slide-item {
  0% {
    opacity: 1;
  }
  99%{
    opacity: 0;
    width: 0;
    min-width: 0;
    margin: 0;
  }
  100% {
    opacity: 0;
    width: 0;
    min-width: 0;
    margin: 0;
  }
}