#content-plugna {
    .plugin-item {

      .description {
        display: none;
        pointer-events: all;
        flex: 1;
      }

      &.show-info:not(.selected) {
        >:not(.description):not(.info) {
          display: none;
        }
        .description {
          line-height: 1.2em;
          display: block;
          text-align: center;
          padding: 22px;
          max-height: 55px;
          overflow-y: auto;
        }
      }
    }
}