#content-plugna {
  .plugna-table {
    button{
      display: flex;
      flex: 1;
    }
    &.settings-table{
      padding-top: 30px;
      button {
        justify-content: left !important;
        width: 100%;
      }
      tr {
        td:nth-of-type(2){
          padding-left: 10px;
        }
      }
    }
  }
}